version: '3'

services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.5.0
    ports:
      - 80:8080
      - 443:8443
    labels:
      - "bunkerweb.INSTANCE"
    environment:
      - SERVER_NAME=www.example.com
      - API_WHITELIST_IP=127.0.0.0/8 10.20.30.0/24
      - USE_VIRUSTOTAL=yes
      - VIRUSTOTAL_API_KEY=%VTKEY%
      - LOG_LEVEL=info
      - USE_BAD_BEHAVIOR=no
      - USE_LIMIT_REQ=no
      - USE_LIMIT_CONN=no
      - USE_BUNKERNET=no
      - USE_BLACKLIST=no
      - USE_MODSECURITY=no
      - USE_REVERSE_PROXY=yes
      - REVERSE_PROXY_HOST=http://hello
      - REVERSE_PROXY_URL=/
    networks:
      - bw-universe
      - bw-services

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.5.1
    depends_on:
      - bunkerweb
      - bw-docker
    volumes:
      - ./bw-data/plugins:/data/plugins
    environment:
      - DOCKER_HOST=tcp://bw-docker:2375
    networks:
      - bw-universe
      - bw-docker

  bw-docker:
    image: tecnativa/docker-socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=1
    networks:
      - bw-docker

  hello:
    image: tutum/hello-world
    networks:
      - bw-services

volumes:
  bw-data:

networks:
  bw-services:
  bw-docker:
  bw-universe:
    ipam:
      driver: default
      config:
        - subnet: 10.20.30.0/24
