version: "3"

services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.5.1
    ports:
      - 80:8080
      - 443:8443
    labels:
      - "bunkerweb.INSTANCE"
    environment:
      - SERVER_NAME=www.example.com
      - API_WHITELIST_IP=127.0.0.0/8 10.10.10.0/24
      - USE_CROWDSEC=yes
      - CROWDSEC_API=http://crowdsec:8080
      - CROWDSEC_API_KEY=s3cr3tb0unc3rk3y
      - LOG_LEVEL=info
      - USE_MODSECURITY=no
      - USE_BLACKLIST=no
      - USE_BAD_BEHAVIOR=no
      - USE_BUNKERNET=no
      - USE_LIMIT_REQ=no
      - USE_LIMIT_CONN=no
      - USE_REVERSE_PROXY=yes
      - REVERSE_PROXY_HOST=http://hello
      - REVERSE_PROXY_URL=/
    networks:
      - bw-universe
      - bw-services
    logging:
      driver: syslog
      options:
        syslog-address: "udp://10.10.10.254:514"

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.5.1
    depends_on:
      - bunkerweb
      - bw-docker
    volumes:
      - ./bw-data/plugins:/data/plugins
    environment:
      - DOCKER_HOST=tcp://bw-docker:2375
    networks:
      - bw-universe
      - bw-docker

  bw-docker:
    image: tecnativa/docker-socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=1
    networks:
      - bw-docker

  crowdsec:
    image: crowdsecurity/crowdsec:v1.5.2
    volumes:
      - cs-data:/var/lib/crowdsec/data
      - ./acquis.yaml:/etc/crowdsec/acquis.yaml
      - bw-logs:/var/log:ro
    environment:
      - BOUNCER_KEY_bunkerweb=s3cr3tb0unc3rk3y
      - COLLECTIONS=crowdsecurity/nginx
      - DISABLE_PARSERS=crowdsecurity/whitelists
    networks:
      - bw-universe

  syslog:
    image: balabit/syslog-ng:4.2.0
    command: --no-caps
    volumes:
      - ./syslog-ng.conf:/etc/syslog-ng/syslog-ng.conf
      - bw-logs:/var/log
    networks:
      bw-universe:
        ipv4_address: 10.10.10.254

  hello:
    image: tutum/hello-world
    networks:
      - bw-services

networks:
  bw-services:
  bw-docker:
  bw-universe:
    ipam:
      driver: default
      config:
        - subnet: 10.10.10.0/24

volumes:
  bw-data:
  bw-logs:
  cs-data:
