name: Tests

on:
  push:
    branches: [dev, main]

jobs:
  codeql:
    uses: ./.github/workflows/codeql.yml
    permissions:
      actions: read
      contents: read
      security-events: write

  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Get BW tag
        run: |
          if [ "$GITHUB_REF" = "refs/heads/main" ] ; then
            echo "BW_TAG=1.6.1" >> $GITHUB_ENV
          else
            echo "BW_TAG=dev" >> $GITHUB_ENV
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Pull and build BW
        run: ./.tests/bw.sh "${{ env.BW_TAG }}"

      - name: Run ClamAV tests
        run: ./.tests/clamav.sh

      - name: Run Coraza tests
        run: ./.tests/coraza.sh

      - name: Run VirusTotal tests
        run: ./.tests/virustotal.sh
        env:
          VIRUSTOTAL_API_KEY: ${{ secrets.VIRUSTOTAL_API_KEY }}

      - name: Build and push APIs
        if: env.BW_TAG == '1.6.1'
        run: ./.tests/build-push.sh "${{ env.BW_TAG }}"
